
.movie-container{
            position: relative;
        
            width: 90%;
            max-width: 1200px;
            
            overflow: hidden;
            margin: auto;
            
           -webkit-box-shadow: -3px 4px 39px -5px rgba(0,0,0,0.75);
           -moz-box-shadow: -3px 4px 39px -5px rgba(0,0,0,0.75);
           box-shadow: -3px 4px 39px -5px rgba(0,0,0,0.75); 
           border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px ;
           
    }
    
    .card-custom-dark{
        background-color: #ededed;
    }
    
   .card-custom{
            padding: 30px;
            width: 100%;
            display: flex;    

        }
    
    .item-card-custom{
            width: 24%;
            height: auto;
     }
    
    .card-custom img{
            width: 100%;
            max-height: 300px;
            border-radius: 7px;
            -moz-border-radius: 7px;
            -webkit-border-radius: 7px;
    }
    
   .card-custom-item-image{
       padding-top: 5px;
       max-height: 350px;
    }
    
    .card-custom-item-title{
        font-size: 20px;
        line-height: 35px;
    }
    
    .card-custom-item-title ,.card-custom-item-image ,.card-custom-item-text{
        width: 80%;
        margin: auto;
        
        font-family: 'Oswald', sans-serif;                
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 

    }
    
    .card-custom-title{
        padding: 20px;
        margin-left: 50px;
        
        line-height: 20px;
        font-size: 20px;
        line-height: 35px;
        font-family: 'Oswald', sans-serif;                
        white-space: nowrap;        
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    
  .card-custom-title:before {
      content : "";
      position: absolute;
      left    : 6.2%;
      bottom  : 0;
      top: 50px;
      width   : 60px;  
      border-bottom: 3px solid #ba2323;
    }

    .card-custom-item-text{
        margin-right: none;
        font-size: 19px;
        height: 30px;
    }
    .card-custom-bnt-bef , .card-custom-btn-next{
        cursor: pointer;
        border-radius: 50%;
        
        width: 30px;
        
        background-color: rgba(89, 87, 83,0.2);
        color: white;
        
        text-align: center;
        font-size: 22px;
        font-family: monospace;
        line-height: 35px;
        
        position: absolute;
        top: 50%;   
    }
    
    .card-custom-bnt-bef{
        right: 65px
    }
    
    .card-custom-btn-next{
        right: 25px;
    }

    .card-custom-btn-dark:hover{
        background-color: rgba(89, 87, 83,0.9); 
    }
    .card-custom-toolbar{
        width: 100%; height: 50px; position: relative;
    }

    
